.vscode
target
server/.console_history
server/config

server/plugins/maven-archiver
server/plugins/maven-status
server/plugins/surefire-reports
server/plugins/spark
server/plugins/bStats


ops.json
help.yml
commands.yml
bukkit.yml
permissions.yml
pufferfish.yml
purpur.yml

server/plugins/classes
server/plugins/test-classes

playerPlaytimes.ser

server/spigot.yml

